streamlit
langchain-community
langchain-openai
langchain-groq
langchain-core
langchain
python-dotenv
pandas
plotly
numpy
regex
streamlit_chat
streamlit_option_menu
matplotlib
langchain-google-genai
auth0-python 
flask-auth0
streamlit-auth0-component
